header{
    height: 41px;
    width: 100%;
    background-color: #2d333b;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #fff;
}